<nav class="navbar">
  <!-- Logo/Brand -->
  <div class="navbar-container">
    <a [routerLink]="['/']">
      <div class="navbar-left">
        <div class="navbar-logo">📘 Blog</div>
      </div>
    </a>

    <!-- Search Bar -->
    <div class="navbar-center">
      <div class="search-box">
        <svg class="search-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.35-4.35"></path>
        </svg>
        <input type="text" placeholder="Search..." class="search-input">
      </div>
    </div>

    <!-- Right Menu -->
    <div class="navbar-right">
      <div class="nav-icons">
        <button class="nav-icon-btn" *ngIf="isUserAdmin()" title="Dashboard" [routerLink]="['/admin']">
          <svg viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z" />
          </svg>
        </button>

        <button class="nav-icon-btn" title="Notifications" (click)="showNotificationBar()">
          <svg viewBox="0 0 24 24" fill="currentColor" >
            <path
              d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z" />
          </svg>
          <span class="notification-badge">{{ getnotificationCount() }}</span>
        </button>



      </div>

      <!-- User Profile -->
      <a [routerLink]="['/profile', userProfile()?.id]">
        <div class="user-profile">
          <div class="author-avatar">{{ userProfile()?.username?.charAt(0)?.toUpperCase() }}</div>
          <span class="username">{{userProfile()?.username}} </span>

        </div>
      </a>
    </div>
  </div>
  <app-notificationbar *ngIf="showNotifications()"></app-notificationbar>
</nav>